
{% load static %}

<!--
<h3>Hello World</h3>


-->



<!DOCTYPE html>
<html>
<head>
	<title>Arunabh Srivastava</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100 border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/preet.jpg' %}" >
					<hr>
					<h4>Hi I'm Arunabh Srivastava!!</h4>
					<p>I love Guns, Dogs and Cars!</p>

				</div>
			</div>
			<div class="col-md-9">
				<div class="card card-body h-100 border-info">
					<h4>My First Personal Portfolio</h4>
				
				<p> I'm a defense aspirant with a degree holder in engineering in the subject of electronics and communication from Ajay Kumar Garg Engineering College, Ghaziabad. I'm a hardcore military enthusiasts and i carry a goal to ne in the Indian Army and serve the mother nation with pride and glory.</p>
				<p> In technical domain i am skilled in web development , app development, internet of things, machine learning , java , embedded C, Cyber Security and arduino.</p>	
					



				</div>
			</div>
		</div>
		<br>
	

	    <div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100"></div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100"></div>
			</div>
		</div>
		<br>
	
	    <div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100"></div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100"></div>
			</div>
	    </div>
	    <br>
	</div>


</body>
</html>	